pin-depends: [
  [ "odoc.dev"        "git+https://github.com/ocaml/odoc#442c7dd2e7870d920968710dd8cfd1d28016b9cc"]
  [ "odoc-parser.dev" "git+https://github.com/ocaml/odoc#442c7dd2e7870d920968710dd8cfd1d28016b9cc"]
]
